doctype html
html(lang="ru")
    head
        title TM Project
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800")
        link(rel="stylesheet" href="/libs/splide/css/splide.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")

        block head

    body
        .mainTower
            .mainMenu.flex
                a.mainLogo(href="/")
                    img(src="/images/tm.svg" alt="LOGO")

                .menu
                    a.menu-item(href="#first") Главная
                    a.menu-item(href="#video") Проекты
                    a.menu-item(href="#services") Услуги
                    a.menu-item(href="#geo") О команде
                    a.menu-item(href="#clients") Клиенты
                .mainSubMenu.flex.center
                    a.mainSubMenuItem.flex.cente(href="#") Все проекты
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_302_3223)">
                        <path d="M20.7754 16.3C18.5663 16.3 16.7754 14.5091 16.7754 12.3C16.7754 10.0908 18.5663 8.29999 20.7754 8.29999C22.9845 8.29999 24.7754 10.0908 24.7754 12.3C24.7754 14.5091 22.9845 16.3 20.7754 16.3Z" fill="#E8E6EE" />
                        <path d="M12.7754 16.3C10.5663 16.3 8.77539 14.5091 8.77539 12.3C8.77539 10.0908 10.5663 8.29999 12.7754 8.29999C14.9845 8.29999 16.7754 10.0908 16.7754 12.3C16.7754 14.5091 14.9845 16.3 12.7754 16.3Z" fill="#1A0959" />
                        <path d="M4.77539 16.3C2.56625 16.3 0.775391 14.5091 0.775391 12.3C0.775391 10.0908 2.56625 8.29999 4.77539 8.29999C6.98453 8.29999 8.77539 10.0908 8.77539 12.3C8.77539 14.5091 6.98453 16.3 4.77539 16.3Z" fill="#F21A05" />
                        </g>
                        <defs>
                        <clipPath id="clip0_302_3223">
                        <rect width="24" height="24" fill="white" transform="translate(0.775391 0.5)" />
                        </clipPath>
                        </defs>
                        </svg>
                    .rel()
                        .mainSubMenuItem.flex.center(href="#" onclick="let elem=this.parentNode.querySelector('.mainContactsBlock');elem.classList.add('active'); setTimeout(()=>{elem.classList.remove('active')},10000)") Контакты
                        .mainContactsBlock
                            if facts
                                .mainContactsItem(onclick="navigator.clipboard.writeText('"+facts.phone+"');this.classList.add('active'); setTimeout(()=>{this.classList.remove('active');},1000)" )
                                    a(href="tel:" + facts.phone )
                                    span #{facts.phone}
                            if facts
                                .mainContactsItem(onclick="navigator.clipboard.writeText('"+facts.email+"');this.classList.add('active');setTimeout(()=>{this.classList.remove('active');},1000)")
                                    a(href="mailto:" + facts.email )
                                    span #{facts.email}

        .mainMenuDivaider
        block content
        .footer
            .mainTower
                .footerTitle
                    .a(href="/#")
                        img(src="/images/tm.svg" alt="LOGO")


                .footerText
                    .foolerItem 2015-!{year} © ООО «ТМ-менеджмент» / ООО «ЭффектКомм»
                    .foolerItem
                        .flex
                            .foolerContact.flex.center
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_210_6070)">
                                <circle cx="12" cy="12.5" r="12" fill="#F21A05" />
                                <path d="M18.1125 7.14014L16.1986 5.22808C15.965 4.99447 15.6523 4.86328 15.3217 4.86328C14.991 4.86328 14.6783 4.99267 14.4447 5.22808L12.3835 7.2857C12.1499 7.51932 12.0187 7.8338 12.0187 8.16446C12.0187 8.49691 12.1481 8.8078 12.3835 9.04322L13.9937 10.6552C13.6269 11.5098 13.0998 12.2863 12.441 12.9428C11.7815 13.6059 11.0106 14.1289 10.1552 14.4991L8.54501 12.8871C8.3114 12.6535 7.99871 12.5223 7.66805 12.5223C7.50496 12.5217 7.34338 12.5537 7.1928 12.6163C7.04221 12.6789 6.90564 12.771 6.79109 12.8871L4.72808 14.9447C4.49447 15.1783 4.36328 15.4928 4.36328 15.8235C4.36328 16.1559 4.49267 16.4668 4.72808 16.7022L6.64014 18.6143C7.03909 19.0132 7.58898 19.2415 8.15326 19.2415C8.27006 19.2415 8.38328 19.2325 8.49829 19.2127C10.8776 18.821 13.2389 17.554 15.1456 15.6492C17.0504 13.7407 18.3156 11.3794 18.7109 8.99829C18.8241 8.3226 18.5977 7.62714 18.1125 7.14014ZM17.4368 8.78444C17.0864 10.9032 15.9471 13.0165 14.2309 14.7327C12.5147 16.4489 10.4032 17.5882 8.28444 17.9386C8.01848 17.9835 7.74533 17.8937 7.55124 17.7014L5.67333 15.8235L7.66446 13.8306L9.81732 15.987L9.8335 16.0032L10.2217 15.8594C11.3986 15.4267 12.4674 14.7432 13.3539 13.8564C14.2404 12.9696 14.9235 11.9005 15.3558 10.7235L15.4996 10.3353L13.3288 8.16626L15.3199 6.17333L17.1978 8.05124C17.3919 8.24533 17.4817 8.51848 17.4368 8.78444Z" fill="white" />
                                </g>
                                <defs>
                                <clipPath id="clip0_210_6070">
                                <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                                </clipPath>
                                </defs>
                                </svg>
                                if facts
                                    a(href="tel:" + facts.phone) #{facts.phone}
                                else
                                    a(href="tel:+74955180910") +7(495) 518-0910


                            .foolerContact.flex.center
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_210_6075)">
                                <circle cx="12" cy="12.5" r="12" fill="#1A0959" />
                                <path d="M4.36328 10.9424V17.3082C4.36328 17.9887 4.63361 18.6413 5.11479 19.1225C5.59598 19.6037 6.2486 19.874 6.9291 19.874H17.1924C17.8729 19.874 18.5255 19.6037 19.0067 19.1225C19.4879 18.6413 19.7582 17.9887 19.7582 17.3082V9.61074C19.7582 8.93024 19.4879 8.27762 19.0067 7.79643C18.5255 7.31525 17.8729 7.04492 17.1924 7.04492H6.9291C6.2486 7.04492 5.59598 7.31525 5.11479 7.79643C4.63361 8.27762 4.36328 8.93024 4.36328 9.61074V10.9424ZM6.9291 8.32783H17.1924C17.5326 8.32783 17.8589 8.46299 18.0995 8.70359C18.3401 8.94418 18.4753 9.27049 18.4753 9.61074V10.5601L12.0607 14.0137L5.64619 10.5601V9.61074C5.64619 9.27049 5.78135 8.94418 6.02195 8.70359C6.26254 8.46299 6.58885 8.32783 6.9291 8.32783V8.32783ZM5.64619 12.0175L11.7567 15.3069C11.8501 15.3572 11.9546 15.3835 12.0607 15.3835C12.1669 15.3835 12.2713 15.3572 12.3648 15.3069L18.4753 12.0175V17.3082C18.4753 17.6484 18.3401 17.9748 18.0995 18.2153C17.8589 18.4559 17.5326 18.5911 17.1924 18.5911H6.9291C6.58885 18.5911 6.26254 18.4559 6.02195 18.2153C5.78135 17.9748 5.64619 17.6484 5.64619 17.3082V12.0175Z" fill="white" />
                                </g>
                                <defs>
                                <clipPath id="clip0_210_6075">
                                <rect width="24" height="24" fill="white" transform="translate(0 0.5)" />
                                </clipPath>
                                </defs>
                                </svg>
                                if facts
                                    a(href="mailto:"+facts.email) #{facts.email}
                                else
                                    a(href="mailto:info@tmproject.ru") info@tmproject.ru

                .footerImage
                    img(src="/images/footer.svg" alt="LOGO")
        script(src="/libs/splide/js/splide.min.js")
        script(src="/javascripts/mainScript.js")
        block footer


