extends layout

block content
  section#projects
    .mainTower
      .sectionHeader.withSub.flex.between
        .flex.left
          .sectionHeaderTitle Все проекты
          .sectionHeaderIcon
            <svg width="96" height="24" viewBox="0 0 96 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#F21A05"/>
            <path d="M36 24C42.6274 24 48 18.6274 48 12C48 5.37258 42.6274 0 36 0C29.3726 0 24 5.37258 24 12C24 18.6274 29.3726 24 36 24Z" fill="#1A0959"/>
            <path d="M60 24C66.6274 24 72 18.6274 72 12C72 5.37258 66.6274 0 60 0C53.3726 0 48 5.37258 48 12C48 18.6274 53.3726 24 60 24Z" fill="#6944F0"/>
            <path d="M95.5 12C95.5 18.3513 90.3513 23.5 84 23.5C77.6487 23.5 72.5 18.3513 72.5 12C72.5 5.64873 77.6487 0.5 84 0.5C90.3513 0.5 95.5 5.64873 95.5 12Z" stroke="#1A0959"/>
            </svg>
        a.downloadPres2.flex.center(href=facts.preza download="TM_Projects_presentation.pdf")
          div Скачать презентацию&nbsp;
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2.00003C12.2652 2.00003 12.5196 2.10539 12.7071 2.29292C12.8946 2.48046 13 2.73481 13 3.00003V13.586L15.293 11.293C15.4816 11.1109 15.7342 11.0101 15.9964 11.0124C16.2586 11.0146 16.5094 11.1198 16.6948 11.3052C16.8802 11.4906 16.9854 11.7414 16.9877 12.0036C16.99 12.2658 16.8892 12.5184 16.707 12.707L12.707 16.707C12.5195 16.8945 12.2652 16.9998 12 16.9998C11.7348 16.9998 11.4805 16.8945 11.293 16.707L7.293 12.707C7.19749 12.6148 7.12131 12.5044 7.0689 12.3824C7.01649 12.2604 6.9889 12.1292 6.98775 11.9964C6.9866 11.8637 7.0119 11.732 7.06218 11.6091C7.11246 11.4862 7.18671 11.3745 7.2806 11.2806C7.3745 11.1867 7.48615 11.1125 7.60905 11.0622C7.73194 11.0119 7.86362 10.9866 7.9964 10.9878C8.12918 10.9889 8.2604 11.0165 8.3824 11.0689C8.50441 11.1213 8.61475 11.1975 8.707 11.293L11 13.586V3.00003C11 2.73481 11.1054 2.48046 11.2929 2.29292C11.4804 2.10539 11.7348 2.00003 12 2.00003V2.00003ZM5 17C5.26522 17 5.51957 17.1054 5.70711 17.2929C5.89464 17.4805 6 17.7348 6 18V20H18V18C18 17.7348 18.1054 17.4805 18.2929 17.2929C18.4804 17.1054 18.7348 17 19 17C19.2652 17 19.5196 17.1054 19.7071 17.2929C19.8946 17.4805 20 17.7348 20 18V20C20 20.5305 19.7893 21.0392 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0392 4 20.5305 4 20V18C4 17.7348 4.10536 17.4805 4.29289 17.2929C4.48043 17.1054 4.73478 17 5 17Z" fill="#6944F0"/>
          </svg>
      .projectsWr.flex
        each item in projects
          .projectItem
            .projectItemImageWr
              if item.images.length>0
                .image(style="background-image: url("+item.images[0].url+");")
              if item.images.length>1
                .imageSvg
                  <svg width="62" height="6" viewBox="0 0 62 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="3" cy="3" r="3" fill="white"/>
                  <circle cx="17" cy="3" r="3" fill="white"/>
                  <circle cx="31" cy="3" r="3" fill="white"/>
                  <circle cx="45" cy="3" r="3" fill="white"/>
                  <circle cx="59" cy="3" r="3" fill="white"/>
                  </svg>

              if  item.images.length==0
                .image.flex.center
                  div Пока фотографий нет
            .projectTower
              .projectSection
                .projectClientTitle Заказчик
                .projectClientText !{item.client}
              .projectSection
                .projectTitle !{item.title}
              if   item.type.length>0 ||   item.description.length > 0
                .projectSection
                  if item.type.length>0
                    .projectType !{item.type},
                  if item.description.length > 0
                    .projectDescription !{item.description}




